.body {
  background-color: #000000;
  overflow: hidden;
}
.background {
  position: absolute;
  width: 100vw;
  top: -1em;
  left: -1em;
  z-index: 100;
}
#background-image {
  position: fixed;
  z-index: 100;
}
.reset-view {
  border-radius: 1.125em;
  border: solid;
  border-color: #b88a00;
  width: 10vw;
  margin: 0 80vw;
  position: absolute;
  bottom: 1em;
  padding: 2em 0;
  background: none;
  color: #eeeeee;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  transition: all 0.25s;
  cursor: pointer;
}
